<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InfrastructureLayer.Properties.Settings.connectionStr"
            connectionString="Data Source=GAMER\SQLSERVER;Initial Catalog=human-resource-db;Integrated Security=True" />
    </connectionStrings>
</configuration>